#page-login {
  min-height: 100vh;
  background-image: url('@/assets/login-bg.jpg');

  .comp-loginForm {
    position: relative;
    top: 8rem;
    margin-left: 15rem;
    width: 23rem;
    background-color: #ffffff60;
    padding: 50px;
  }

  .div-title {
    margin-bottom: 20px;
  }

  .div-dynamic-desc {
    width: fit-content;
  }
}
