#page-dashboard {
  .card-icon {
    display: inline-block;
    font-size: 4rem;
    position: absolute;
    right: 35px;
    top: 40px;
    color: #0052d9;
  }

  #below-chart {
    margin: 20px auto;
    width: 1300px;
    height: 600px;
  }

}
